<script src="./vue.js"></script>

<div id="app">
    <!-- Setting style dynamically without CSS class -->
    <div class="demo" :style="{backgroundColor: color}"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <!-- :class is for vue. don't confuese there are two classes -->
    <div class="demo" @click="attachRed = !attachRed"
        :class="{red: attachRed, blue: !attachRed}"></div>
    <!-- Template can be leaner -->
    <div class="demo"
        :class="divClasses"></div>
    <!-- <div class="demo" :class="color"></div> -->
    <!-- Can add multiple class with array -->
    <div class="demo" :class="[color, {red: attachRed}]"></div>
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
</div>

<style>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }
    .blue {
        background-color: blue;
    }
</style>
<script>
    new Vue({
        el: '#app',
        data: {
            attachRed: false,
            color: 'green',
            width: 100
        },
        computed: {
            divClasses: function() {
                return {
                    red: this.attachRed,
                    blue: !this.attachRed
                }
            },
            myStyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        }
    })
</script>