
<!-- Put this in the HTML section in JSFiddle! -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
	<!-- V-if really attach or dettach element and nested el included -->
	<p v-if="show">You can see me!<span>Hello</span></p>

	<!-- Vue.js v 2.1 or higher will allow to use v-else-if -->
	<p v-else>Now You See me!</p>
	<p>Do you also see me?</p>
	<!-- alternative of v-if 
	Template will allow to control show and hide multiple elements
	Also mihgt use div and nested element, But It might cause side-effect-->
	<!-- v-else not working in div -->
	<template v-if="show">
		<h1>Heading</h1>
		<p>Inside of Template</p>
	</template>
	<!-- v-show will just hide or show with display css attribute.
	It will allow to keep the element in some reason and hide.
	!!important  v-show will keep element and just not show. -->
	<p v-show="show">Do you also show me</p>
	<button @click="show = !show">Switch</button>
</div>

<script>
	new Vue({
		el: '#app',
		data: {
			show: true
		}
	})
</script>