<script src="https://npmcdn.com/vue/dist/vue.js"></script>



<!-- answer: https://jsfiddle.net/smax/jhj8cqdm/ -->


<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight"
    or "shrink" class on each new setInterval tick (attach respective class to the div
    with id "effect" below) -->
  <div>
    <button v-on:click="startEffect">Start Effect</button>
    <div id="effect" :class="[highlight]"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="[hello, tati]">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="userClass">
    <div :class="[userClass]"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-on:keyup.enter="first = $event.target.value">
    <input type="text" v-on:keyup.enter="second = $event.target.value">
    <div :class="[firstClass, secondClass]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="mystyle.backgroundColor">
    <div :style="mystyle"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div :style="progressStyle"></div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="styles.css">
<script src="app.js"></script>